extends layout

block content
    h1 #{user.username}'s Closet
    table(class='table')
        thead
            tr
                th(scope='col') Type
                th(scope='col') Name
                th(scope='col') Brand
                th(scope='col') Color
                th(scope='col') Size
        tbody
            each attire in results
                tr
                    td #{attire.type}
                    td #{attire.attire_name}
                    td #{attire.brand}
                    td #{attire.color}
                    td #{attire.size}